/* Custom background color */
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Noto+Sans+KR&display=swap");
.body-bg {
  background-color: #f0f0f0; /* Replace with your desired color code */
}

* {
  font-family: "Noto Sans KR", sans-serif;
}
a {
  color: #00b7ff;
}
.navbar {
  color: #fff;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
