<!-- Footer -->
<footer class="container mt-4">
  <div class="row text-center">
    <div class="col">
      <hr />
      <h4>Copyright 2023. Minjun Kim, Inha University. All Rights Reserved.</h4>
    </div>
  </div>
</footer>
